<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="#"><img src="img/logo.png" alt="logo" class="logo__img"></a>
        </div>
        <div class="header__nav-bar">
            <ul class="nav-bar__ul">
                <li class="nav-bar__ul__item">
                    <a href="#"><p>Горящие туры</p></a>
                </li>
                <li class="nav-bar__ul__item">
                    <a href="#"><p>Раннее бронирование</p></a>
                </li>
                <li class="nav-bar__ul__item">
                    <a href="#"><p>Услуги</p></a>
                </li>
                <li class="nav-bar__ul__item">
                    <a href="#"><p>О нас</p></a>
                </li>
                <li class="nav-bar__ul__item">
                    <a href="#"><p>Страны</p></a>
                </li>
                <li class="nav-bar__ul__item">
                    <a href="#"><p>Еще...</p></a>
                </li>
            </ul>
        </div>
        <div class="header__info-login">
            <div class="info-login__location">
                <select name="locatin" id="selectLocation" class="select-location">
                    <option value="kiev">Киев</option>
                    <option value="Odessa">Одесса</option>
                    <option value="Kek">Кек</option>
                </select>
            </div>
            <div class="info-login__phone">
                <a href="066 082 2060">066 082 2060</a>
            </div>
            <div class="info-login__leng">
                <select name="lang" id="langSelect" class="lang-select">
                    <option value="rus">Рус</option>
                    <option value="ua">Укр</option>
                    <option value="en">Eng</option>
                </select>
            </div>
            <div class="info-login__sing-in">
                <a href="#">Вход</a>
            </div>            
        </div>
    </div>
</header>